#search {
    text-align: center;
}
#search-title {
    text-align: center;
    font-size: 48px;
}
#search-bar-holder {
    font-size: 18px;
}
#search-bar {
    width: 50%;
    font-size: 18px;
    padding: 8px 8px 8px 8px;
    border-radius: 10px;
}
#search-btn {
    font-size: 18px;
    padding: 8px;
}

.search-result {
    margin-bottom: 30px;
    /* border: solid 1px rgb(50, 50, 50, 0.5);
    border-radius: 10px;
    padding-left: 15px; padding-right: 15px; */
}
.search-tag {
    display: inline;
    border: solid 1px rgb(50, 50, 50, 0.5);
    border-radius: 10px;
    padding: 4px 4px 4px 4px;
    margin: 0px 1px 0px 1px;
    color: rgb(0, 0, 0, 0.5);
    font-size: 12px;
    background-color: rgb(200, 230, 230, 0.5);
}